.container__big-card {

  color: #ff7272;
  width: 400px;
  height: 500;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}


.big-card__title> h1 a {
  margin-top: 15px;
  font-size: 28px;
  font-family: 'Handelson-Three';
  color: #ff7272;;


}

.big-card__description > p a {
  margin-top: 10px;
  color: #fae99c;
  }

  .big-card__photo > img {
    width: 100%;
  }
