.container__menu-title {
  width: 100%;
  margin-top: 60px;
  padding: 20px 0; /* Adiciona espaçamento no topo e no final */
  display: flex; /* Ativa o Flexbox */
  flex-direction: column; /* Organiza os elementos verticalmente */
  justify-content: flex-start; /* Alinha o conteúdo ao topo */
  align-items: center; /* Centraliza horizontalmente */
}

.container__menu-title > img {
  width: 500px; /* Ajusta a largura da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: -50px; /* Adiciona espaçamento entre a imagem e o conteúdo abaixo */
}
