.container__menu-bar.scrolled {
  background-color: #2e2424 !important; /* Cor preta */
  transition: background-color 0.3s ease; /* Transição suave */
}

.container__menu-bar {
  bottom: 10px; /* Distância do fundo da tela */
  top: 0;
  left: 0;
  color: var(--color-yellow); /* Cor do texto */
  font-size: 1rem;
  font-weight: 600; /* Peso da fonte */
  height: 10px; /* Ajusta a altura automaticamente */
  padding: 1rem; /* Espaçamento interno */
  padding-top: 10px;
  width: 100%;
  position: fixed;

  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}


.container__menu-bar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.1rem;
  background-color: inherit; /* Herda o fundo do contêiner pai */
  list-style: none;
  font-family: 'Handelson-Four', sans-serif; /* Fonte personalizada */
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: 700; /* Peso da fonte */
  color: var(--color-white); /* Garante que o texto seja branco */
}

.container__menu-bar > ul > li {
  background-color: transparent; /* Remove qualquer fundo indesejado */
  color: var(--color-white); /* Garante que o texto dos itens seja branco */
}

.container__menu-bar > ul > li > a {
  background-color: transparent; /* Remove qualquer fundo indesejado */
  text-align:   center; /* Centraliza o texto */
  color: var(--color-white); /* Garante que o texto dos links seja branco */
  text-decoration: none; /* Remove sublinhado */
}

.container__menu-bar > ul > li > a:hover {
  color: var(--color-red); /* Garante que o texto dos links seja red ao passar o mouse */
  text-decoration: none; /* Remove sublinhado ao passar o mouse */
}
