<div class="container__menu-bar" [ngClass]="{'scrolled': isScrolled}">
  <ul>
    <li><a [routerLink]="['']">Home</a></li>

    <li><a [routerLink]="['/content/1']">Conteúdo</a></li>

    <li><a href="https://www.linkedin.com/in/carlos-eduardo-ferreira-da-silva-913b81299/?trk=opento_sprofile_topcard">Linkedin</a></li>

    <li><a href="https://github.com/KduSilva">GitHub</a></li>

    <li><a [routerLink]="['/instagram']">Instagram</a></li>

    <li><a [routerLink]="['/youtube']">YouTube</a></li>

    <li><a [routerLink]="['/treads']">Treads</a></li>
  </ul>
</div>
