/* You can add global styles to this file, and also import other style files */
:root {
  --color-yellow: #f5ecc3;
  --color-red:#ff7272; /* Vermelho do logo Angular */
}



* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: #2e2424; /* Força a cor de fundo */
  font-family: 'Handelson-Four', sans-serif;

}
@font-face {
  font-family: 'Handelson-Three';
  src: url('/assets/fonts/zHandelson-Four.otf') format('opentype');
}

a {
  text-decoration: none;
}
